<!-- importando conteudo base -->
{% extends "layout.html" %}

<!-- Title -->
{% block title %}
	<title>Manutenções</title>
{% endblock title %}

<!-- body --> 
{% block content %}

	{% block navbar %}
		{% include "partials/navbar.html" %}
	{% endblock navbar %}

	<div class="container">
		<div class="row">
			<div class="col s12">

				<table class="highlight">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Km</th>
							<th>Causa</th>
							<th>Observação</th>
							<th>Nome motorista</th>
							<th>sobrenome motorista</th>
							<th>CNH</th>
							<th>Modelo veiculo</th>
							<th>Nº da placa</th>
							<th>Peça trocada</th>
							<th>Garantia (meses)</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

{% endblock content %}

<!-- scripts -->
{% block scripts %}
	<script src="/scripts/manutencoes.js"></script>
{% endblock scripts %}

