
/* ----------------- */
/* NAVBAR */
nav.nav-extended .nav-content {
	position: relative;
	line-height: normal;
	height: 41px;
}

nav .nav-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	padding: 0;
}


/* ---------------- */